@use "sass:map";

.top-header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;

  &__sitename {
    font-size: 56px;
    color: map-get($theme-colors, primary);
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  &__contact {
    font-size: 14px;
  }

  &__social-networks {
    display: flex;
    align-items: center;
  }

  &__social-network {
    margin: 0 8px;
  }

  &__social-youtube::before {
    content: "";
    display: inline-block;
    background-size: 32px 32px;
    background-image: url(map-get($social-networks,youtube));
    width: 32px;
    height: 32px;
  }

  &__social-vk::before {
    content: "";
    display: inline-block;
    background: url(map-get($social-networks,vk));
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
  }

  &__social-instagram::before {
    content: "";
    display: inline-block;
    background: url(map-get($social-networks,instagram));
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
  }
}

.bottom-header__section {
  padding: 8px 0;
}

.nav-primary {
  &__menu {
    display: flex;
    background-color: map-get($background-colors, primary);
    padding: 8px;
    border-radius: 4px;

    .sub-menu {
      visibility: hidden;
      position: absolute;
      background: #ededed;
      border-radius: 4px;
      left: 14px;
      opacity: 0;
      transition: all 0.2s ease-in;
    }

    li {
      font-size: 21px;
      padding: 8px 16px;
      position: relative;
    }

    & > li:first-child {
      padding: 8px 16px 8px 0;
    }

    & li:hover > .sub-menu {
      visibility: visible;
      opacity: 1;
    }
  }
}
